body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
